create  [SHOPCONGNGHE]
go
USE [SHOPCONGNGHE]
GO
/****** Object:  StoredProcedure [dbo].[Kiemtra_Dangnhap_KHACHHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Kiemtra_Dangnhap_KHACHHANG]
@TENDN VARCHAR(20),
@MATKHAU VARCHAR(20)
AS
	BEGIN
		SELECT * FROM KHACHHANG
		WHERE TENDNKH=@TENDN AND MATKHAUKH=@MATKHAU
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Chitiet_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Chitiet_DONHANG]
@MADH VARCHAR (8)
AS
	BEGIN
	SELECT DISTINCT(CT_DONHANG.MASP),TENSP,GIASP, HOTEN,DIACHI,DIENTHOAI,EMAILKH,DONDATHANG.MADH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,CT_DONHANG.SOLUONG,CT_DONHANG.THANHTIEN
	 FROM CT_DONHANG,DONDATHANG,SANPHAM,KHACHHANG,THONGTINNGUOINHAN 
	 WHERE CT_DONHANG.MADH=DONDATHANG.MADH AND KHACHHANG.MAKH = DONDATHANG.MAKH AND DONDATHANG.MADH=THONGTINNGUOINHAN.MADH AND CT_DONHANG.MASP=SANPHAM.MASP
	 AND DONDATHANG.MADH=@MADH
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Chitiet_HOADON]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Chitiet_HOADON]
@MAHD VARCHAR(10)
AS
	BEGIN
		SELECT DISTINCT(SANPHAM.MASP)AS MASP,TENSP,GIASP, TENKH,TENLOAIKH,HOTENNV,DIACHIKH,SODTKH,EMAILKH,HOADON.MAHD,CONVERT(VARCHAR,NGAYHD,103)AS[DD/MM/YYYY],TONGTIENHD,CT_HOADON.SOLUONG,CT_HOADON.THANHTIEN
		FROM HOADON,CT_HOADON,SANPHAM,KHACHHANG,NHANVIEN,LOAIKHACHHANG
		WHERE CT_HOADON.MAHD=HOADON.MAHD AND KHACHHANG.MAKH = HOADON.MAKH AND NHANVIEN.MANV=HOADON.MANV AND CT_HOADON.MASP=SANPHAM.MASP AND KHACHHANG.MALOAIKH=LOAIKHACHHANG.MALOAIKH AND HOADON.MAHD=@MAHD
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhgia_Khachhang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Danhgia_Khachhang]
@tieude nvarchar(100),
@noidung nvarchar(300),
@masp varchar (8)
as
	begin
		insert into DANHGIA values(@tieude,@noidung,@masp)
	end

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_Danhgia]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Danhsach_Danhgia]
@trang int,
@sobai_trang int
as
	if @trang is null
	begin
		set @trang=1
	end
	declare
		@batdau int,
		@ketthuc int
	set @batdau=@sobai_trang*@trang-(@sobai_trang-1)
	set @ketthuc=@sobai_trang*@trang
	select * from (select ROW_NUMBER() OVER (ORDER BY MADG DESC) AS ROWID, TIEUDE,NOIDUNG,TENSP,MADG
	FROM DANHGIA,SANPHAM WHERE DANHGIA.MASP=SANPHAM.MASP)TB
	WHERE ROWID between @batdau and @ketthuc

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSach_DONGSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSach_DONGSANPHAM]
AS
	BEGIN
		SELECT * FROM DONGSANPHAM ORDER BY MADONGSP ASC
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_DONHANG]
AS
	BEGIN 
		SELECT * FROM DONDATHANG
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_DONHANG_Trang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_DONHANG_Trang]
@sodonhang_trang int,
@trang int
AS
BEGIN
	IF @trang is null
	BEGIN
		SET @trang=1;
	END
	DECLARE
		@batdau int,
		@ketthuc int
	SET @batdau=@trang*@sodonhang_trang-(@sodonhang_trang-1)
	SET @ketthuc=@trang*@sodonhang_trang
	SELECT * FROM (
	SELECT MADH,TENKH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,TINHTRANG,ROW_NUMBER() OVER(ORDER BY TINHTRANG ASC,NGAYDH DESC)AS rowid
	FROM DONDATHANG,KHACHHANG
	WHERE DONDATHANG.MAKH=KHACHHANG.MAKH)AS DH WHERE  rowid BETWEEN @batdau AND @ketthuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_HOADON]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_HOADON]
AS
	BEGIN
		SELECT * FROM HOADON
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_HOADON_Trang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_HOADON_Trang]
@sobai_trang INT,
@trang INT
AS
BEGIN
	IF @trang is null
	BEGIN
		SET @trang=1;
	END
	DECLARE 
	@batdau int,
	@ketthuc int
	SET @batdau=@sobai_trang*@trang-(@sobai_trang-1)
	SET @ketthuc=@sobai_trang*@trang
	SELECT * FROM(
	SELECT MAHD,HOTENNV, CONVERT(VARCHAR,NGAYHD,103)AS [DD/MM/YYYY],TONGTIENHD,TENKH,(ROW_NUMBER() OVER(ORDER BY CONVERT(DATE,NGAYHD,103) DESC))AS ROWID 
	FROM HOADON, NHANVIEN,KHACHHANG
	WHERE HOADON.MAKH=KHACHHANG.MAKH AND NHANVIEN.MANV=HOADON.MANV)AS TB
	WHERE ROWID BETWEEN @batdau AND @ketthuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_KHUYENMAI]
AS
	BEGIN
	SELECT * FROM KHUYENMAI
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_NHOMSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_NHOMSANPHAM]
AS
	BEGIN
		SELECT * FROM NHOMSANPHAM ORDER BY MANHOMSP DESC
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_NHOMSANPHAM_DONGSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_NHOMSANPHAM_DONGSP]
@MADONGSP VARCHAR(8)
AS
	BEGIN
		SELECT * FROM NHOMSANPHAM WHERE MADONGSP=@MADONGSP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_SANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_SANPHAM]
AS
	BEGIN
		SELECT * FROM SANPHAM
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_SANPHAM_Cungnhom]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_SANPHAM_Cungnhom]
@MASP VARCHAR(8)
AS
BEGIN
	SELECT TOP 3(MASP),* FROM SANPHAM
	WHERE MANHOMSP IN (SELECT MANHOMSP FROM SANPHAM WHERE MASP=@MASP) AND MASP <>@MASP
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSach_SANPHAM_DONGSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSach_SANPHAM_DONGSP]
@sosp_trang int,
@trang int,
@madongsp varchar(8),
@manhomsp varchar(8)
AS
	BEGIN
		IF @trang is null
		BEGIN
			SET @trang=1;
		END
		DECLARE
		@vitribatdau int,
		@vitriketthuc int
		SET @vitribatdau=@trang*@sosp_trang-(@sosp_trang-1)
		SET @vitriketthuc =@trang*@sosp_trang
		SELECT * FROM (SELECT MASP,TENSP,GIASP,MOTASP,XUATXU,DONVITINH,HINHANH,SOLUONG,ROW_NUMBER()OVER(ORDER BY MASP DESC)AS rowid 
		FROM SANPHAM,NHOMSANPHAM,DONGSANPHAM WHERE DONGSANPHAM.MADONGSP=NHOMSANPHAM.MADONGSP AND
		 NHOMSANPHAM.MANHOMSP=SANPHAM.MANHOMSP AND DONGSANPHAM.MADONGSP=@madongsp AND NHOMSANPHAM.MANHOMSP=@manhomsp)AS SP
		WHERE  rowid between @vitribatdau and @vitriketthuc
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSach_SANPHAM_DONGSP_NHOMSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSach_SANPHAM_DONGSP_NHOMSP]
@madongsp varchar(8),
@manhomsp varchar(8)
AS
	BEGIN
			SELECT MASP,TENSP,GIASP,MOTASP,XUATXU,DONVITINH,HINHANH,SOLUONG
			FROM SANPHAM,NHOMSANPHAM,DONGSANPHAM WHERE DONGSANPHAM.MADONGSP=NHOMSANPHAM.MADONGSP AND
			NHOMSANPHAM.MANHOMSP=SANPHAM.MANHOMSP AND DONGSANPHAM.MADONGSP=@madongsp AND NHOMSANPHAM.MANHOMSP=@manhomsp	
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSach_SANPHAM_DONGSP_NHOMSP_Trang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSach_SANPHAM_DONGSP_NHOMSP_Trang]
@sosp_trang int,
@trang int,
@madongsp varchar(8),
@manhomsp varchar(8)
AS
	BEGIN
		IF @trang is null
		BEGIN
			SET @trang=1
		END
			DECLARE
			@vitribatdau int,
			@vitriketthuc int
			SET @vitribatdau=@trang*@sosp_trang-(@sosp_trang-1)
			SET @vitriketthuc =@trang*@sosp_trang
			SELECT * FROM (SELECT MASP,TENSP,GIASP,MOTASP,XUATXU,DONVITINH,HINHANH,SOLUONG,ROW_NUMBER() OVER(ORDER BY MASP DESC)AS rowid 
			FROM SANPHAM,NHOMSANPHAM,DONGSANPHAM WHERE DONGSANPHAM.MADONGSP=NHOMSANPHAM.MADONGSP AND
			 NHOMSANPHAM.MANHOMSP=SANPHAM.MANHOMSP AND DONGSANPHAM.MADONGSP=@madongsp AND NHOMSANPHAM.MANHOMSP=@manhomsp
			)AS SP
			WHERE  rowid between @vitribatdau and @vitriketthuc
			
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_SANPHAM_trang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_SANPHAM_trang]
@tranghientai INT,
@sobai_trang INT
AS
	BEGIN
		DECLARE 
		@Batdautrang int,
		@Kethuctrang int
		IF @tranghientai=NULL
		BEGIN
			SET @tranghientai=1;
		END
		SET @Batdautrang=@tranghientai*@sobai_trang-(@sobai_trang-1)
		SET @Kethuctrang=@tranghientai*@sobai_trang
		SELECT * FROM (SELECT *,ROW_NUMBER() OVER(ORDER BY MASP DESC)AS rowid FROM SANPHAM ) AS SP
		WHERE rowid BETWEEN @Batdautrang AND @Kethuctrang
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Danhsach_Trang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Danhsach_Trang]
@sodonhang_trang int,
@trang int
AS
BEGIN
	IF @trang is null
	BEGIN
		SET @trang=1;
	END
	DECLARE
		@batdau int,
		@ketthuc int
	SET @batdau=@trang*@sodonhang_trang-@sodonhang_trang-1
	SET @ketthuc=@trang*@sodonhang_trang
	SELECT * FROM (
	SELECT MADH,TENKH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,TINHTRANG,ROW_NUMBER() OVER(ORDER BY TINHTRANG ASC)AS rowid
	FROM DONDATHANG,KHACHHANG
	WHERE DONDATHANG.MAKH=KHACHHANG.MAKH)AS DH WHERE  rowid BETWEEN @batdau AND @ketthuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhsachNgay_HOADON]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhsachNgay_HOADON]
AS
	BEGIN
		SELECT DISTINCT(CONVERT(VARCHAR,CONVERT(DATE,NGAYHD,103),103))AS NGAYHD
		FROM HOADON
		ORDER BY CONVERT(VARCHAR,CONVERT(DATE,NGAYHD,103),103) ASC
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_DATHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DATHANG]
--KHAI BAO BIEN CHO BANG DONHANG
@MADH VARCHAR(10),
@MAKH VARCHAR(8),
@TONGTIEN MONEY,
--KHAI BAO BIEN CHO BANG CT_DONHANG
@MASP VARCHAR(8),
@SOLUONG INT,
@THANHTIEN MONEY
AS
	BEGIN
		--THEM DON HANG VA CAP NHAT LAI THONG TIN KHACH HANG NEU NHU DON HANG CHUA TON TAI
		IF NOT EXISTS(SELECT * FROM DONDATHANG WHERE MADH=@MADH)
		BEGIN
			DECLARE 
			@LOAIKH VARCHAR(8),--Luu gia tri Loaikh dang mua hang
			@TRANGTHAI CHAR(1)
			SET @LOAIKH=(SELECT MALOAIKH FROM KHACHHANG WHERE MAKH=@MAKH)
			SET @TRANGTHAI=(SELECT TRANGTHAI FROM KHACHHANG WHERE MAKH=@MAKH)
			IF(@LOAIKH='LKH03'AND @TRANGTHAI='1')--NEU LA KHACH HANG VIP THI DUOC GIAM 5% TIEN DON HANG
				BEGIN
					SET @TONGTIEN=@TONGTIEN*0.95
				END
			ELSE
				BEGIN
					IF(@LOAIKH='LKH02'AND @TRANGTHAI='1')--NEU LA KHACH HANG THAN THIET THI DUOC GIAM 2% TIEN DON HANG
					BEGIN
						SET @TONGTIEN=@TONGTIEN*0.98
					END
				END
			INSERT INTO DONDATHANG VALUES(@MADH,@MAKH,GETDATE(),0,@TONGTIEN)--THEM THONG TIN VAO BANG DONDATHANG
			--THEM CTDONHANG DAU TIEN
			INSERT CT_DONHANG VALUES(@MADH,@MASP,@SOLUONG,@THANHTIEN)
		END
		ELSE
		--BUOC TIEP THEO LA THEM THONG TIN DAT HANG CON LAI VAO CT_DONHANG
		BEGIN
			IF NOT EXISTS(SELECT * FROM CT_DONHANG WHERE MADH=@MADH AND MASP=@MASP)
			BEGIN
				INSERT CT_DONHANG VALUES(@MADH,@MASP,@SOLUONG,@THANHTIEN)
			END
		END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Huy_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Huy_DONHANG]
@MADH VARCHAR(8)
AS
	IF NOT EXISTS (SELECT * FROM DONDATHANG WHERE MADH=@MADH)
	BEGIN
		RETURN
	END
	ELSE
	BEGIN
		BEGIN TRAN
		SET TRAN ISOLATION LEVEL SERIALIZABLE
		IF (SELECT TINHTRANG FROM DONDATHANG WHERE MADH=@MADH)=1
		BEGIN
			ROLLBACK TRAN
			RETURN
		END
		ELSE
		BEGIN
			DELETE FROM THONGTINNGUOINHAN WHERE MADH=@MADH
			IF (@@ERROR<>0)
			BEGIN
				 ROLLBACK TRAN
				 RETURN
			END
			DELETE FROM CT_DONHANG WHERE MADH=@MADH
			IF (@@ERROR<>0)
			BEGIN
				 ROLLBACK TRAN
				 RETURN
			END
			DELETE FROM DONDATHANG WHERE MADH=@MADH
			IF(@@ERROR<>0)
			BEGIN
				 ROLLBACK TRAN
				 RETURN
			END
		END
		COMMIT
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_In_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_In_DONHANG]
@MADH VARCHAR (8)
AS
	BEGIN
	SELECT DISTINCT(CT_DONHANG.MASP),TENSP,GIASP, HOTEN,DIACHI,DIENTHOAI,EMAILKH,DONDATHANG.MADH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,CT_DONHANG.SOLUONG,CT_DONHANG.THANHTIEN
	 FROM CT_DONHANG,DONDATHANG,SANPHAM,KHACHHANG,THONGTINNGUOINHAN 
	 WHERE CT_DONHANG.MADH=DONDATHANG.MADH AND KHACHHANG.MAKH = DONDATHANG.MAKH AND DONDATHANG.MADH=THONGTINNGUOINHAN.MADH AND CT_DONHANG.MASP=SANPHAM.MASP
	 AND DONDATHANG.MADH=@MADH
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Kiemtra_Dangnhap_KHACHHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Kiemtra_Dangnhap_KHACHHANG]
@TENDN VARCHAR(20),
@MATKHAU VARCHAR(20)
AS
	BEGIN
		SELECT * FROM KHACHHANG
		WHERE TENDNKH=@TENDN AND MATKHAUKH=@MATKHAU AND TrangThai='1'
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemtraDangnhap]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemtraDangnhap]
@TENDN VARCHAR(20),
@MATKHAU VARCHAR(20)
AS
	BEGIN
		SELECT * FROM NHANVIEN
		WHERE TENDNNV=@TENDN AND MATKHAUNV=@MATKHAU
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTrungEmail_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_KiemTraTrungEmail_KhachHang](@EmailKH varchar(100))
as
begin
	select * from KHACHHANG where EMAILKH=@EmailKH
end

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTrungTenDangNhap_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_KiemTraTrungTenDangNhap_KhachHang](@TenDNKH varchar(20))
as
begin
	select * from KHACHHANG where TENDNKH=@TenDNKH
end

GO
/****** Object:  StoredProcedure [dbo].[sp_LayGia_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LayGia_KHUYENMAI]
@MASP VARCHAR(8)
AS
	BEGIN
		SELECT GIAKM FROM KHUYENMAI WHERE MASP=@MASP AND
		 CONVERT(DATE,GETDATE(),103) BETWEEN CONVERT(DATE,NGAYBATDAU,103) AND CONVERT(DATE,NGAYKETTHUC,103)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienCapNhat]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienCapNhat]
@Manv varchar(10),@HotenNv nvarchar(50),
@NgaysinhNv varchar(20),@GioitinhNv char(1),
@DiachiNv nvarchar(100),@SodtNv varchar(15),
@TenDnNv varchar(20),@MatkhauNv varchar(20)
AS
	BEGIN
		declare @NGAYSINHKH_CV datetime;
		set @NGAYSINHKH_CV=CONVERT(datetime,@NgaysinhNv,103);
		UPDATE NHANVIEN SET HOTENNV= @HotenNv, NGAYSINHNV= @NGAYSINHKH_CV,
		GIOITINHNV= @GioitinhNv,DIACHINV=@DiachiNv,SODTNV=@SodtNv,
		TENDNNV=@TenDnNv,MATKHAUNV=@MatkhauNv
		WHERE MANV=@Manv
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienDangNhap]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_NhanVienDangNhap]
@tendnnv varchar(20),
@matkhau	varchar(20)
as
begin
	select * from NHANVIEN where TENDNNV=@tendnnv and MATKHAUNV=@matkhau;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienKiemTraTrungTenDangNhap]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_NhanVienKiemTraTrungTenDangNhap]
@tendnnv varchar(20)
as
begin
	select * from NHANVIEN where TENDNNV=@tendnnv
end

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienTimKiemMaNV]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienTimKiemMaNV]
@manv nvarchar(50)
as
	BEGIN
		select MANV,HOTENNV,CONVERT(VARCHAR,NGAYSINHNV,103)AS NGAYSINHNV,GIOITINHNV,DIACHINV,SODTNV,TENDNNV,MATKHAUNV from NHANVIEN
		where MANV like '%' + @manv + '%' or HOTENNV like '%' + @manv + '%';
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienThemMoi]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_NhanVienThemMoi]
@Manv varchar(10),@HotenNv nvarchar(50),
@NgaysinhNv varchar(20),@GioitinhNv char(1),
@DiachiNv nvarchar(100),@SodtNv varchar(15),
@TenDnNv varchar(20),@MatkhauNv varchar(20)
AS
	BEGIN
		declare @NGAYSINHKH_CV date;
		set @NGAYSINHKH_CV=CONVERT(date,@NgaysinhNv,103);
		INSERT INTO NHANVIEN VALUES(@Manv,@HotenNv,@NGAYSINHKH_CV,@GioitinhNv,@DiachiNv,@SodtNv,@TenDnNv,@MatkhauNv)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienThongTin]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienThongTin]
as
	BEGIN
		SELECT MANV,HOTENNV,CONVERT(VARCHAR,NGAYSINHNV,103)AS[DD/MM/YYYY],GIOITINHNV,DIACHINV,SODTNV,TENDNNV,MATKHAUNV from NHANVIEN
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienXoa]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienXoa]
@Manv varchar(10)
AS
	BEGIN 
		IF NOT EXISTS (SELECT * FROM HOADON WHERE MANV=@Manv)
		BEGIN
			DELETE FROM NHANVIEN
			WHERE MANV=@Manv
		END
		ELSE
		BEGIN
			RETURN
		END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_PhanTrang_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_PhanTrang_KhachHang](@tranghientai INT, @sobai_trang INT)
AS
	BEGIN
		DECLARE 
		@Batdautrang int,
		@Kethuctrang int
		IF @tranghientai=NULL
		BEGIN
			SET @tranghientai=1;
		END
		SET @Batdautrang=@tranghientai*@sobai_trang-(@sobai_trang-1)
		SET @Kethuctrang=@tranghientai*@sobai_trang
		--SELECT * FROM (SELECT *,ROW_NUMBER() OVER(ORDER BY MAKH DESC)AS rowid FROM KHACHHANG) AS KH
		--WHERE rowid BETWEEN @Batdautrang AND @Kethuctrang
		SELECT * FROM (SELECT *,ROW_NUMBER() OVER(ORDER BY MaKH)AS rowid FROM KHACHHANG) AS SP
		WHERE rowid BETWEEN @Batdautrang AND @Kethuctrang
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_DONGSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Sua_DONGSANPHAM]
@MADONGSP VARCHAR(10),
@TENDONGSP NVARCHAR(50),
@GHICHU NVARCHAR(50)
AS
BEGIN
	UPDATE DONGSANPHAM
	SET TENDONGSP=@TENDONGSP,GHICHU=@GHICHU
	WHERE MADONGSP=@MADONGSP
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Sua_KhachHang](@MAKH varchar(20), @MALOAIKH varchar(10), @TENKH nvarchar(50), @GIOITINHKH char(1), @DIACHIKH nvarchar(80), @SODTKH varchar(15), @MATKHAUKH varchar(20), @TrangThai int, @NgaySinhKH varchar(20), @EmailKH varchar(100))
as
BEGIN
	declare @NGAYSINHKH_CV date;
	set @NGAYSINHKH_CV=CONVERT(date,@NGAYSINHKH,20);
	update KHACHHANG set MaLoaiKH=@MALOAIKH, TenKH=@TENKH, GIOITINHKH=@GIOITINHKH, DiaChiKH=@DIACHIKH, SoDTKH=@SODTKH,
						 MatKhauKH=@MATKHAUKH, TrangThai=@TrangThai, EMAILKH=@EmailKH, NGAYSINHKH=@NgaySinhKH_CV where MaKH=@MaKH	 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Sua_KHUYENMAI]
@MaKm varchar(10),@MaSp varchar(10),
@Ngaybatdau VARCHAR(50),@Ngayketthuc VARCHAR(50),
@GiaKm int
AS
	BEGIN
		UPDATE KHUYENMAI SET MASP=@MaSp,NGAYBATDAU=CONVERT(DATETIME,@Ngaybatdau),
		NGAYKETTHUC=CONVERT(DATETIME,@Ngayketthuc),GIAKM=@GiaKm
		WHERE MAKM=@MaKm
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_LOAIKHACHHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Sua_LOAIKHACHHANG]
@MaloaiKh VARCHAR(10),
@TenloaiKh NVARCHAR(20),
@Ghichu NVARCHAR(50)
AS
	BEGIN
		UPDATE LOAIKHACHHANG SET TENLOAIKH=@TenloaiKh,GHICHU=@Ghichu WHERE MALOAIKH=@MaloaiKh
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_NHANVIEN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Sua_NHANVIEN]
@Manv varchar(10),@HotenNv nvarchar(50),
@NgaysinhNv datetime,@GioitinhNv char(1),
@DiachiNv nvarchar(100),@SodtNv varchar(15),
@TenDnNv varchar(20),@MatkhauNv varchar(20)
AS
	BEGIN
		UPDATE NHANVIEN SET HOTENNV= @HotenNv, NGAYSINHNV= @NgaysinhNv,
		GIOITINHNV= @GioitinhNv,DIACHINV=@DiachiNv,SODTNV=@SodtNv,
		TENDNNV=@TenDnNv,MATKHAUNV=@MatkhauNv
		WHERE MANV=@Manv
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_NHOMSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa NHOMSANPHAM
CREATE PROC [dbo].[sp_Sua_NHOMSANPHAM]
@ManhomSp varchar(10),
@MadongSp varchar(10),
@TennhomSp nvarchar(50),
@GhichuNhomSp nvarchar(50)
AS
	BEGIN
		UPDATE NHOMSANPHAM SET MADONGSP=@MadongSp,TENNHOMSP=@TennhomSp,GHICHUNSP=@GhichuNhomSp WHERE MANHOMSP=@ManhomSp
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_SANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Sua_SANPHAM]
@MASP VARCHAR(10),
@MANHOMSP NVARCHAR(10),
@TENSP NVARCHAR(50),
@GIASP MONEY,
@MOTASP NVARCHAR(1000),
@XUATXU NVARCHAR(10),
@DONVITINH NVARCHAR(10),
@HINHANH VARCHAR(200),
@SOLUONG INT
AS
	BEGIN
		UPDATE SANPHAM
		SET MANHOMSP=@MANHOMSP,TENSP=@TENSP,GIASP=@GIASP,MOTASP=@MOTASP,XUATXU=@XUATXU,DONVITINH=@DONVITINH,HINHANH=@HINHANH,SOLUONG=@SOLUONG
		WHERE MASP=@MASP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_Thongtin]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Sua_Thongtin]
@ID varchar(10),
@TenCuahang nvarchar(15),
@Diachi nvarchar(200),
@Sodienthoai varchar(15),
@Email varchar(50)
AS
	BEGIN
		UPDATE THONGTINCUAHANG
		SET DIACHI=@Diachi,SODIENTHOAI=@Sodienthoai,EMAIL=@Email,TENCUAHANG=@TenCuahang
		Where ID=@ID
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tatca_Danhgia]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Tatca_Danhgia]
AS
	BEGIN
		SELECT * FROM DANHGIA
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tatca_ThongTin]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_Tatca_ThongTin]
AS
	BEGIN
		SELECT * FROM THONGTINCUAHANG
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tien_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Tien_DONHANG]
@MADH VARCHAR(8)
AS
	BEGIN
		SELECT TONGTIEN FROM DONDATHANG WHERE MADH=@MADH
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tim_DONHANG_MADH]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Tim_DONHANG_MADH]
@MADH VARCHAR(8)
AS
BEGIN
	SELECT MADH,TENKH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,TINHTRANG
	FROM DONDATHANG,KHACHHANG
	WHERE DONDATHANG.MAKH=KHACHHANG.MAKH AND DONDATHANG.MADH=@MADH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tim_DONHANG_TENKH]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Tim_DONHANG_TENKH]
@TENKH NVARCHAR (50)
AS
BEGIN
	SELECT * FROM (
	SELECT MADH,TENKH,CONVERT(VARCHAR,NGAYDH,103)AS[DD/MM/YYYY],TONGTIEN,TINHTRANG,ROW_NUMBER() OVER(ORDER BY TINHTRANG ASC)AS rowid
	FROM DONDATHANG,KHACHHANG
	WHERE DONDATHANG.MAKH=KHACHHANG.MAKH AND (TENKH LIKE N'%'+@TENKH+'%'))AS DH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Tim_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tim_KhachHang](@TuKhoa nvarchar(50))
as
begin
	select * from khachhang where (Tenkh like '%' + @tuKhoa + '%') or(MAKH like '%' + @tuKhoa + '%')
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Tim_KHACHHANG_TENDN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Tim_KHACHHANG_TENDN]
@TENDN VARCHAR(20)
AS
	BEGIN
		SELECT * FROM KHACHHANG
		WHERE TENDNKH=@TENDN 
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_TimHoadon_MAHD]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TimHoadon_MAHD]
@MAHD VARCHAR(10)
AS
	BEGIN
	SELECT MAHD,HOTENNV, CONVERT(VARCHAR,NGAYHD,103)AS [DD/MM/YYYY],TONGTIENHD,TENKH
	FROM HOADON, NHANVIEN,KHACHHANG
	WHERE HOADON.MAKH=KHACHHANG.MAKH AND NHANVIEN.MANV=HOADON.MANV AND MAHD=@MAHD
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_TimHoadon_TenKH]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TimHoadon_TenKH]
@TENKH NVARCHAR(50)
AS
	BEGIN
	SELECT MAHD,HOTENNV, CONVERT(VARCHAR,NGAYHD,103)AS [DD/MM/YYYY],TONGTIENHD,TENKH
	FROM HOADON, NHANVIEN,KHACHHANG
	WHERE HOADON.MAKH=KHACHHANG.MAKH AND NHANVIEN.MANV=HOADON.MANV AND (TENKH LIKE N'%'+@TENKH+'%')
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Timkiem_SANPHAM_KHACHHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Timkiem_SANPHAM_KHACHHANG]
@TUKHOA NVARCHAR(50)
AS
	BEGIN
		SELECT * FROM SANPHAM WHERE (TENSP LIKE N'%'+@TUKHOA+'%') OR (MOTASP LIKE N'%'+@TUKHOA+'%')
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Timkiem_SANPHAM_MASP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Timkiem_SANPHAM_MASP]
@MASP VARCHAR(8)
AS
	BEGIN
		SET NOCOUNT ON
		SELECT * FROM SANPHAM WHERE MASP=@MASP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Timkiem_SANPHAM_TENSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Timkiem_SANPHAM_TENSP]
@TENSP NVARCHAR(50)
AS
	BEGIN
		SELECT * FROM SANPHAM WHERE (TENSP LIKE N'%'+@TENSP+'%')
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_TOP10_SANPHAM_Banchay]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TOP10_SANPHAM_Banchay]
@thang int,
@nam int
AS
	BEGIN
	SELECT TOP 10 (SUM(CT_DONHANG.SOLUONG)) AS SL,SANPHAM.MASP,TENSP,GIASP,XUATXU
	FROM SANPHAM,DONDATHANG,CT_DONHANG
	WHERE DONDATHANG.MADH=CT_DONHANG.MADH AND CT_DONHANG.MASP=SANPHAM.MASP AND MONTH(NGAYDH)= @thang AND YEAR(NGAYDH)=@nam AND TINHTRANG=1
	GROUP BY SANPHAM.MASP,TENSP,GIASP,XUATXU
	ORDER BY SUM(CT_DONHANG.SOLUONG) DESC
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_TOP6_SANPHAM_Banchay]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_TOP6_SANPHAM_Banchay]

AS
	BEGIN
	SELECT TOP 6 (SUM(CT_DONHANG.SOLUONG)) AS SL,SANPHAM.MASP,TENSP,GIASP,XUATXU,HINHANH
	FROM SANPHAM,DONDATHANG,CT_DONHANG
	WHERE DONDATHANG.MADH=CT_DONHANG.MADH AND CT_DONHANG.MASP=SANPHAM.MASP AND TINHTRANG=1
	GROUP BY SANPHAM.MASP,TENSP,GIASP,XUATXU,HINHANH
	ORDER BY SUM(CT_DONHANG.SOLUONG) DESC
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_CTDH]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_CTDH]
@MADH VARCHAR(8),
@MASP VARCHAR(8),
@SOLUONG INT,
@THANHTIEN MONEY
AS
	BEGIN
			IF NOT EXISTS(SELECT * FROM CT_DONHANG WHERE MADH=@MADH AND MASP=@MASP)
			BEGIN
				INSERT CT_DONHANG VALUES(@MADH,@MASP,@SOLUONG,@THANHTIEN)
			END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_DONGSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_DONGSANPHAM]
@MADONGSP VARCHAR(10),
@TENDONGSP NVARCHAR(50),
@GHICHU NVARCHAR(50)
AS
BEGIN
			INSERT INTO DONGSANPHAM VALUES(@MADONGSP,@TENDONGSP,@GHICHU)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Them_KhachHang](@MAKH varchar(20), @MALOAIKH varchar(10), @TENKH nvarchar(50), @GIOITINHKH char(1), @DIACHIKH nvarchar(80), @SODTKH varchar(15), @TENDNKH varchar(20), @MATKHAUKH varchar(20), @NGAYSINHKH varchar(20), @EMAILKH varchar(100))
as
BEGIN
	declare @NGAYSINHKH_CV date;
	set @NGAYSINHKH_CV=CONVERT(date,@NGAYSINHKH,103);
	insert into KHACHHANG(MaKH, MaLoaiKH, TenKH, GIOITINHKH, DiaChiKH, SoDTKH, TenDNKH, MatKhauKH, TrangThai, NGAYSINHKH, EMAILKH)
	 values(@MAKH, @MALOAIKH, @TENKH, @GIOITINHKH, @DIACHIKH, @SODTKH, @TENDNKH, @MATKHAUKH,1, @NGAYSINHKH_CV, @EMAILKH)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_KHUYENMAI]
@MaKm varchar(10),@MaSp varchar(10),
@Ngaybatdau varchar(50),@Ngayketthuc varchar(50),
@GiaKm int
AS
	BEGIN
		INSERT INTO KHUYENMAI VALUES(@MaKm,@MaSp,CONVERT(DATETIME,@Ngaybatdau),CONVERT(DATETIME,@Ngayketthuc),@GiaKm)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_NHANVIEN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_NHANVIEN]
@Manv varchar(10),@HotenNv nvarchar(50),
@NgaysinhNv datetime,@GioitinhNv char(1),
@DiachiNv nvarchar(100),@SodtNv varchar(15),
@TenDnNv varchar(20),@MatkhauNv varchar(20)
AS
	BEGIN
		INSERT INTO NHANVIEN VALUES(@Manv,@HotenNv,@NgaysinhNv,@GioitinhNv,@DiachiNv,@SodtNv,@TenDnNv,@MatkhauNv)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_NHOMSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_NHOMSANPHAM]
@ManhomSp varchar(10),
@MadongSp varchar(10),
@TennhomSp nvarchar(50),
@GhichuNhomSp nvarchar(50)
AS
	BEGIN
		INSERT INTO NHOMSANPHAM VALUES(@ManhomSp,@MadongSp,@TennhomSp,@GhichuNhomSp)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_SANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_SANPHAM]
@MASP VARCHAR(10),
@MANHOMSP NVARCHAR(10),
@TENSP NVARCHAR(50),
@GIASP MONEY,
@MOTASP NVARCHAR(1000),
@XUATXU NVARCHAR(10),
@DONVITINH NVARCHAR(10),
@HINHANH VARCHAR(200),
@SOLUONG INT
AS
	BEGIN
		IF NOT EXISTS( SELECT * FROM SANPHAM WHERE MASP=@MASP)
		BEGIN
		INSERT INTO SANPHAM VALUES(@MASP,@MANHOMSP,@TENSP,@GIASP,@MOTASP,@XUATXU,@DONVITINH,@HINHANH,@SOLUONG)	
		END
		ELSE
		BEGIN
			RETURN
		END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_THONGTINCUAHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE [dbo].[THONGTINCUAHANG](
--	[ID] [varchar](10) NOT NULL,
--	[TENCUAHANG] [nvarchar](150) NULL,
--	[DIACHI] [nvarchar](200) NULL,
--	[SODIENTHOAI] [varchar](15) NULL,
--	[EMAIL] [varchar](50) NULL,
CREATE PROC [dbo].[sp_Them_THONGTINCUAHANG]
@id varchar(10),
@TenCuahang nvarchar(15),
@Diachi nvarchar(200),
@Sodienthoai varchar(15),
@Email varchar(50)
AS
	BEGIN
		INSERT INTO THONGTINCUAHANG VALUES(@id,@TenCuahang,@Diachi,@Sodienthoai,@Email)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Them_THONGTINNGUOINHAN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Them_THONGTINNGUOINHAN]
@MADH VARCHAR(10),
@HOTEN NVARCHAR(50),
@DIACHI NVARCHAR (200),
@DIENTHOAI VARCHAR(15),
@PHUONGTHUCGIAOHANG NVARCHAR(100),
@HINHTHUCTHANHTOAN NVARCHAR(100),
@YEUCAUKHAC NVARCHAR(200)
AS
	BEGIN
		INSERT INTO THONGTINNGUOINHAN VALUES(@HOTEN,@DIACHI,@DIENTHOAI,@PHUONGTHUCGIAOHANG,@HINHTHUCTHANHTOAN,@YEUCAUKHAC,@MADH)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_themDonhang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_themDonhang]
@MADH VARCHAR(10),
@MAKH VARCHAR(8),
@TONGTIEN MONEY
AS
 BEGIN TRAN
	SET TRAN ISOLATION LEVEL SERIALIZABLE
	IF NOT EXISTS(SELECT * FROM DONDATHANG WHERE MADH=@MADH)
		BEGIN
			DECLARE 
			@LOAIKH VARCHAR(8),--Luu gia tri Loaikh dang mua hang
			@TRANGTHAI CHAR(1)
			SET @LOAIKH=(SELECT MALOAIKH FROM KHACHHANG WHERE MAKH=@MAKH)
			SET @TRANGTHAI=(SELECT TRANGTHAI FROM KHACHHANG WHERE MAKH=@MAKH)
			IF(@LOAIKH='LKH03'AND @TRANGTHAI='1')--NEU LA KHACH HANG VIP THI DUOC GIAM 5% TIEN DON HANG
				BEGIN
					SET @TONGTIEN=@TONGTIEN*0.95
				END
			ELSE
				BEGIN
					IF(@LOAIKH='LKH02'AND @TRANGTHAI='1')--NEU LA KHACH HANG THAN THIET THI DUOC GIAM 3% TIEN DON HANG
					BEGIN
						SET @TONGTIEN=@TONGTIEN*0.97
					END
				END
			INSERT INTO DONDATHANG VALUES(@MADH,@MAKH,GETDATE(),0,@TONGTIEN)--THEM THONG TIN VAO BANG DONDATHANG
			IF @@ERROR<>0
			BEGIN
				ROLLBACK
				RETURN
			END
	END
	WAITFOR DELAY'00:00:15'
	COMMIT

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongke_Hangton]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongke_Hangton]
AS
BEGIN
	SELECT MASP,TENSP,SOLUONG,GIASP,GIASP*SOLUONG AS THANHTIEN
	FROM SANPHAM
	WHERE SOLUONG>0
	ORDER BY MASP ASC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ThongkeDoanhthu_Thang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongkeDoanhthu_Thang]
@thang int,
@nam int
AS
BEGIN
	SELECT CONVERT(VARCHAR,NGAYHD,103)AS[DD/MM/YYYY],SUM(TONGTIENHD)AS DOANHTHU
	FROM HOADON
	WHERE  MONTH(NGAYHD)=@thang AND YEAR(NGAYHD)=@nam
	GROUP BY CONVERT(VARCHAR,NGAYHD,103)
	ORDER BY CONVERT(VARCHAR,NGAYHD,103) ASC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhthu_Theongay]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThongKeDoanhthu_Theongay]
@tungay varchar(20),
@denngay varchar(20)
AS
	BEGIN
		SELECT CONVERT(VARCHAR,NGAYHD,103)AS[DD/MM/YYYY],SUM(TONGTIENHD)AS DOANHTHU
		FROM HOADON
		WHERE  CONVERT(DATE,NGAYHD,103) BETWEEN CONVERT(DATE,@tungay,103) AND CONVERT(DATE,@denngay,103)
		GROUP BY CONVERT(VARCHAR,NGAYHD,103)
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_ThongTin_cuahang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_ThongTin_cuahang]
@ID varchar(10)
AS
	BEGIN
		SELECT * FROM THONGTINCUAHANG
		Where ID=@ID
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_DONGSANPHAM_MADONGSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_DONGSANPHAM_MADONGSP]
@MADONGSP VARCHAR(8)
AS
	BEGIN
		SELECT * FROM DONGSANPHAM WHERE MADONGSP=@MADONGSP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_DONGSANPHAM_MASP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_DONGSANPHAM_MASP]
@MADONGSP VARCHAR(8)
AS
	BEGIN
		SELECT * FROM DONGSANPHAM WHERE MADONGSP=@MADONGSP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_KHUYENMAI]
AS
	BEGIN
		SELECT MAKM,TENSP,CONVERT(VARCHAR,NGAYBATDAU,103) AS[DD-MM-YYYY],CONVERT(VARCHAR,NGAYKETTHUC,103) AS[DD-MM-YYYY],GIAKM FROM KHUYENMAI,SANPHAM WHERE SANPHAM.MASP=KHUYENMAI.MASP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_KHUYENMAI_MAKM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_KHUYENMAI_MAKM]
@MAKM VARCHAR(8)
AS
	BEGIN
	SELECT MAKM,MASP,CONVERT(VARCHAR,NGAYBATDAU,103)AS[DD/MM/YYYY],CONVERT(VARCHAR,NGAYKETTHUC,103)AS[DD/MM/YYYY],GIAKM FROM KHUYENMAI
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_NHOMSANPHAM_MANHOMSP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_NHOMSANPHAM_MANHOMSP]
@MANHOMSP VARCHAR(8)
AS
	BEGIN
		SELECT * FROM NHOMSANPHAM WHERE MANHOMSP=@MANHOMSP
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Thongtin_SANPHAM_MASP]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Thongtin_SANPHAM_MASP]
@masp varchar(8)
AS
	BEGIN
		SELECT * FROM SANPHAM WHERE MASP=@masp
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_thongtincuahang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_thongtincuahang]
@ID VARCHAR(10),
@tencuahang nvarchar(150),
@diachi nvarchar (200),
@sdt nvarchar(15),
@email varchar(50)
as
	begin
		insert into THONGTINCUAHANG values(@ID,@tencuahang,@diachi,@sdt,@email)
	end

GO
/****** Object:  StoredProcedure [dbo].[sp_TruyVan_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TruyVan_KhachHang]
as
begin
	select * from KHACHHANG
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TruyVan_KhachHang_TheoMa]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_TruyVan_KhachHang_TheoMa](@MaKH varchar(20))
as
begin
	select * from KHACHHANG where MAKH=@MaKH
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TruyVan_LoaiKhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TruyVan_LoaiKhachHang]
as
begin
	select * from LOAIKHACHHANG;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_TruyVan_LoaiKhachHang_LayTenTheoMaLoai]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TruyVan_LoaiKhachHang_LayTenTheoMaLoai](@MaLoaiKH varchar(10))
as
begin
	select TENLOAIKH from LOAIKHACHHANG where MALOAIKH=@MaLoaiKH;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_Danhgia]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_Danhgia]
@MADG VARCHAR(8)
AS
	BEGIN
		DELETE FROM DANHGIA WHERE MADG=@MADG
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_DONGSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_DONGSANPHAM]
@MADONGSP VARCHAR(10)
AS
BEGIN
	IF NOT EXISTS( SELECT * FROM NHOMSANPHAM WHERE MADONGSP=@MADONGSP)
	BEGIN
			DELETE FROM DONGSANPHAM
			WHERE MADONGSP=@MADONGSP
	END
	ELSE
	BEGIN
		RETURN
	END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_KhachHang]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Xoa_KhachHang](@MAKH varchar(20))
as
BEGIN
	update KHACHHANG set TrangThai=0 where MaKH=@MaKH	 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_KHUYENMAI]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_KHUYENMAI]
@MaKm varchar(10)
AS
	BEGIN
		DELETE FROM KHUYENMAI WHERE MAKM=@MaKm
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_NHANVIEN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_NHANVIEN]
@Manv varchar(10)
AS
	BEGIN
		DELETE FROM NHANVIEN
		WHERE MANV=@Manv
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_NHOMSANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_NHOMSANPHAM]
@ManhomSp varchar(10) ---SELECT * FROM SANPHAM WHERE MANHOMSP='NSP00013'
---SELECT * FROM KHUYENMAI WHERE MASP=(select MASP from SANPHAM where MANHOMSP='NSP00013')
AS
	BEGIN
		IF NOT EXISTS (SELECT * FROM SANPHAM WHERE MANHOMSP=@ManhomSp)
		or NOT EXISTS (SELECT * FROM CT_DONHANG WHERE MASP=(select MASP from SANPHAM where MANHOMSP=@ManhomSp))
		OR NOT EXISTS (SELECT * FROM DANHGIA WHERE MASP=(select MASP from SANPHAM where MANHOMSP=@ManhomSp))
		OR NOT EXISTS (SELECT * FROM KHUYENMAI WHERE MASP=(select MASP from SANPHAM where MANHOMSP=@ManhomSp))
		BEGIN
			DELETE FROM NHOMSANPHAM
			WHERE MANHOMSP=@ManhomSp
		END
		ELSE
		BEGIN
			RETURN
		END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_SANPHAM]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- exec sp_Xoa_SANPHAM SP000022
CREATE PROC [dbo].[sp_Xoa_SANPHAM]
@MASP VARCHAR(10) ---SELECT * FROM CT_DONHANG WHERE MASP='SP000022'
AS
BEGIN	
	IF NOT EXISTS (SELECT * FROM CT_DONHANG WHERE MASP=@MASP)
	OR NOT EXISTS (SELECT * FROM DANHGIA WHERE MASP=@MASP)
	OR NOT EXISTS (SELECT * FROM KHUYENMAI WHERE MASP=@MASP)
	BEGIN
			DELETE SANPHAM
			WHERE SANPHAM.MASP=@MASP
	END
	ELSE
	BEGIN
		RETURN
	END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_THONGTINCUAHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xoa_THONGTINCUAHANG]
AS
	BEGIN
		DELETE FROM THONGTINCUAHANG
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Xuly_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Xuly_DONHANG]
@MADH VARCHAR(8),
@MANV VARCHAR(8)
AS
	IF NOT EXISTS (SELECT * FROM DONDATHANG WHERE MADH=@MADH)
	BEGIN
		RETURN
	END
	ELSE
	BEGIN
		DECLARE
		@CTDH CURSOR,
		@MAHD VARCHAR(8),
		@TONGTIEN MONEY,
		@MAKH VARCHAR(8),
		--LUU GIA TRI LOAIKH
		@LOAIKH VARCHAR(8),
		--KHAI BAO CAC BIEN DE LUU GIA TRI TREN TUNG CTDH
		@MASP VARCHAR(8),
		@SOLUONG INT,
		@THANHTIEN MONEY
		SET @MAHD=REPLACE(@MADH,'DH','HD')
		SET @MAKH=(SELECT MAKH FROM DONDATHANG WHERE MADH=@MADH)
		SET @TONGTIEN= (SELECT TONGTIEN FROM DONDATHANG WHERE MADH=@MADH)
		SET @LOAIKH=(SELECT MALOAIKH FROM KHACHHANG WHERE MAKH=@MAKH)
		BEGIN TRAN
			IF NOT EXISTS(SELECT * FROM HOADON WHERE MAHD=@MAHD)
			BEGIN
				--CHUYEN DU LIEU TU BANG DONHANG QUA BANG HOADON
				INSERT INTO HOADON VALUES(@MAHD,@MANV,GETDATE(),@TONGTIEN,@MAKH)
				IF(@@ERROR<>0)
				BEGIN
					ROLLBACK TRAN
					RETURN
				END
				--AP DUNG CHINH SACH THEO TUNG LOAI KHACH HANG KHI MUA HANG
				IF(@TONGTIEN>=500000)--NEU TIEN DON HANG LON HON HOAC BANG 500K
				BEGIN
					--NEU CHUA PHAI KHACH HANG VIP THI SET KHACH HANG LEN KH THAN THIET
					IF(@LOAIKH<>'LKH03')
					BEGIN
						UPDATE KHACHHANG SET MALOAIKH='LKH02' WHERE MAKH=@MAKH
						IF(@@ERROR<>0)
						BEGIN
							ROLLBACK TRAN 
							RETURN
						END
					END
				END
				--CONG THEM DIEM MUA HANG CHO KHACH HANG MOI LAN MUA HANG, CU MOI 200K KH SE DUOC 1D
				UPDATE KHACHHANG SET DIEMMUAHANG=DIEMMUAHANG+@TONGTIEN/200000 WHERE MAKH=@MAKH
				IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END
				--KIEM TRA DIEM MUA HANG CUA KHACH HANG,NEU >=500 THI DUA KHACH HANG LEN LOAI VIP
				IF((SELECT DIEMMUAHANG FROM KHACHHANG WHERE MAKH=@MAKH)>=500)
				BEGIN
					UPDATE KHACHHANG SET MALOAIKH='LKH03' WHERE MAKH=@MAKH
					IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END
				END
				--
				SET @CTDH=CURSOR FOR(SELECT MASP,SOLUONG,THANHTIEN FROM CT_DONHANG WHERE MADH=@MADH)
				OPEN @CTDH
				FETCH NEXT FROM @CTDH INTO @MASP,@SOLUONG,@THANHTIEN
				--BAT DAU CHUYEN TUNG DONG TREN CT_DONHANG QUA BANG CT_HOADON
				WHILE @@FETCH_STATUS=0
				BEGIN
					--THEM TUNG DONG VAO CT_HOADON
					INSERT INTO CT_HOADON VALUES(@MAHD,@MASP,@SOLUONG,@THANHTIEN)
					IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END
					BEGIN TRAN
					--THIET LAP MUC CO LAP
					SET TRAN ISOLATION LEVEL READ COMMITTED
					-- CAP NHAT LAI SO LUONG SANPHAM
					UPDATE SANPHAM SET SOLUONG=SOLUONG-@SOLUONG WHERE MASP=@MASP 
					IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END
					COMMIT TRAN
					FETCH NEXT FROM @CTDH INTO @MASP,@SOLUONG,@THANHTIEN
				END
				--CAP NHAT LAI TINH TRANG DON HANG
				UPDATE DONDATHANG SET TINHTRANG=1 WHERE MADH=@MADH 
				IF(@@ERROR<>0)
				BEGIN
					ROLLBACK TRAN
					RETURN
				END
			END
			ELSE
			BEGIN 
				ROLLBACK TRAN
				RETURN
			END
			
		COMMIT TRAN
	END

GO
/****** Object:  StoredProcedure [dbo].[Tim_KHACHHANG_TENDN]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Tim_KHACHHANG_TENDN]
@TENDN VARCHAR(20)
AS
	BEGIN
		SELECT * FROM KHACHHANG
		WHERE TENDNKH=@TENDN 
	END

GO
/****** Object:  Table [dbo].[CT_DONHANG]    Script Date: 27/12/2016 11:39:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONHANG](
	[MADH] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CT_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](100) NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADH] [varchar](10) NOT NULL,
	[MAKH] [varchar](20) NULL,
	[NGAYDH] [datetime] NULL,
	[TINHTRANG] [int] NULL,
	[TONGTIEN] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONGSANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGSANPHAM](
	[MADONGSP] [varchar](10) NOT NULL,
	[TENDONGSP] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NULL,
	[NGAYHD] [datetime] NULL,
	[TONGTIENHD] [money] NULL,
	[MAKH] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](20) NOT NULL,
	[MALOAIKH] [varchar](10) NULL,
	[TENKH] [nvarchar](50) NULL,
	[GIOITINHKH] [char](1) NULL,
	[DIACHIKH] [nvarchar](80) NULL,
	[SODTKH] [varchar](15) NULL,
	[TENDNKH] [varchar](20) NULL,
	[MATKHAUKH] [varchar](200) NULL,
	[DIEMMUAHANG] [int] NULL,
	[TRANGTHAI] [char](1) NULL,
	[NGAYSINHKH] [date] NULL,
	[EMAILKH] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[GIAKM] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MALOAIKH] [varchar](10) NOT NULL,
	[TENLOAIKH] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTENNV] [nvarchar](50) NULL,
	[NGAYSINHNV] [datetime] NULL,
	[GIOITINHNV] [char](1) NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[SODTNV] [varchar](15) NULL,
	[TENDNNV] [varchar](20) NULL,
	[MATKHAUNV] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMSANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMSANPHAM](
	[MANHOMSP] [varchar](10) NOT NULL,
	[MADONGSP] [varchar](10) NULL,
	[TENNHOMSP] [nvarchar](50) NULL,
	[GHICHUNSP] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[MANHOMSP] [varchar](10) NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIASP] [money] NULL,
	[MOTASP] [nvarchar](1000) NULL,
	[XUATXU] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[HINHANH] [varchar](200) NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TEN] [nvarchar](20) NULL,
	[GIATRI] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGTINCUAHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINCUAHANG](
	[ID] [varchar](10) NOT NULL,
	[TENCUAHANG] [nvarchar](150) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINNGUOINHAN]    Script Date: 27/12/2016 11:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINNGUOINHAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[PHUONGTHUCGIAOHANG] [nvarchar](100) NULL,
	[HINHTHUCTHANHTOAN] [nvarchar](100) NULL,
	[YEUCAUKHAC] [nvarchar](200) NULL,
	[MADH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_DONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'DH000001', N'SP000014', 1, 39000000.0000)
INSERT [dbo].[CT_DONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'DH000002', N'SP000007', 3, 50100000.0000)
INSERT [dbo].[CT_DONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'DH000003', N'SP000002', 1, 1500000.0000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD000001', N'SP000014', 1, 39000000.0000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD000002', N'SP000007', 3, 50100000.0000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD000005', N'SP000006', 12, 180000000.0000)
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDH], [TINHTRANG], [TONGTIEN]) VALUES (N'DH000001', N'KH000001', CAST(N'2016-12-27 03:22:08.577' AS DateTime), 1, 35100000.0000)
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDH], [TINHTRANG], [TONGTIEN]) VALUES (N'DH000002', N'KH000001', CAST(N'2016-12-27 03:22:49.040' AS DateTime), 1, 45090000.0000)
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDH], [TINHTRANG], [TONGTIEN]) VALUES (N'DH000003', N'KH000006', CAST(N'2016-12-27 21:41:02.227' AS DateTime), 0, 1500000.0000)
INSERT [dbo].[DONGSANPHAM] ([MADONGSP], [TENDONGSP], [GHICHU]) VALUES (N'DSP00001', N'Laptop', N'Laptop chính hãng')
INSERT [dbo].[DONGSANPHAM] ([MADONGSP], [TENDONGSP], [GHICHU]) VALUES (N'DSP00002', N'Điện Thoại', N'Điện thoại chính hãng')
INSERT [dbo].[DONGSANPHAM] ([MADONGSP], [TENDONGSP], [GHICHU]) VALUES (N'DSP00003', N'Phụ Kiện', N'Phụ kiện chính hãng')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYHD], [TONGTIENHD], [MAKH]) VALUES (N'HD000001', N'NV00001', CAST(N'2016-12-27 03:24:45.000' AS DateTime), 35100000.0000, N'KH000001')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYHD], [TONGTIENHD], [MAKH]) VALUES (N'HD000002', N'NV00001', CAST(N'2016-12-27 03:25:26.567' AS DateTime), 45090000.0000, N'KH000001')
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYHD], [TONGTIENHD], [MAKH]) VALUES (N'HD000005', N'NV00001', CAST(N'2016-12-27 23:13:52.167' AS DateTime), 162000000.0000, N'KH000001')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAIKH], [TENKH], [GIOITINHKH], [DIACHIKH], [SODTKH], [TENDNKH], [MATKHAUKH], [DIEMMUAHANG], [TRANGTHAI], [NGAYSINHKH], [EMAILKH]) VALUES (N'KH000001', N'LKH03', N'Lê Văn Phú', N'1', N'Tiền Giang', N'0981111111', N'baithuoc', N'124bd1296bec0d9d93c7', 520, N'1', CAST(N'1993-02-13' AS Date), N'baithuoc@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAIKH], [TENKH], [GIOITINHKH], [DIACHIKH], [SODTKH], [TENDNKH], [MATKHAUKH], [DIEMMUAHANG], [TRANGTHAI], [NGAYSINHKH], [EMAILKH]) VALUES (N'KH000002', N'LKH02', N'Ngô Sơn Lâm', N'1', N'Tiền Giang', N'0982222222', N'thaithuoc1', N'124bd1296bec0d9d93c7', NULL, N'1', CAST(N'1993-01-01' AS Date), N'ngolam@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [MALOAIKH], [TENKH], [GIOITINHKH], [DIACHIKH], [SODTKH], [TENDNKH], [MATKHAUKH], [DIEMMUAHANG], [TRANGTHAI], [NGAYSINHKH], [EMAILKH]) VALUES (N'KH000003', N'LKH01', N'Nguyễn Minh Trí 1', N'1', N'Tiền Giang', N'098333333', N'mtri', N'124bd1296bec0d9d93c7', NULL, N'1', CAST(N'1993-01-01' AS Date), N'minhtri@gmail.com')
INSERT [dbo].[KHUYENMAI] ([MAKM], [MASP], [NGAYBATDAU], [NGAYKETTHUC], [GIAKM]) VALUES (N'KM000001', N'SP000001', CAST(N'2016-12-26 00:00:00.000' AS DateTime), CAST(N'2016-12-30 00:00:00.000' AS DateTime), 80000000)
INSERT [dbo].[KHUYENMAI] ([MAKM], [MASP], [NGAYBATDAU], [NGAYKETTHUC], [GIAKM]) VALUES (N'KM000002', N'SP000002', CAST(N'2016-12-26 00:00:00.000' AS DateTime), CAST(N'2016-12-30 00:00:00.000' AS DateTime), 1500000)
INSERT [dbo].[KHUYENMAI] ([MAKM], [MASP], [NGAYBATDAU], [NGAYKETTHUC], [GIAKM]) VALUES (N'KM000003', N'SP000003', CAST(N'2016-12-26 00:00:00.000' AS DateTime), CAST(N'2016-12-30 00:00:00.000' AS DateTime), 2000000)
INSERT [dbo].[LOAIKHACHHANG] ([MALOAIKH], [TENLOAIKH], [GHICHU]) VALUES (N'LKH01', N'Thường', NULL)
INSERT [dbo].[LOAIKHACHHANG] ([MALOAIKH], [TENLOAIKH], [GHICHU]) VALUES (N'LKH02', N'Thân thiết', NULL)
INSERT [dbo].[LOAIKHACHHANG] ([MALOAIKH], [TENLOAIKH], [GHICHU]) VALUES (N'LKH03', N'Vip', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SODTNV], [TENDNNV], [MATKHAUNV]) VALUES (N'NV00001', N'Lê Admin', CAST(N'1993-07-14 00:00:00.000' AS DateTime), N'1', N'TPHCM', N'0987', N'admin', N'21232f297a57a5a74389')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SODTNV], [TENDNNV], [MATKHAUNV]) VALUES (N'NV00002', N'Ngô Sơn Lâm', CAST(N'1993-02-13 00:00:00.000' AS DateTime), N'1', N'TPHCM', N'09876', N'sonlam', N'124bd1296bec0d9d93c7')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [NGAYSINHNV], [GIOITINHNV], [DIACHINV], [SODTNV], [TENDNNV], [MATKHAUNV]) VALUES (N'NV00003', N'Nguyễn Hoàng Hiệp', CAST(N'1993-07-14 00:00:00.000' AS DateTime), N'1', N'TPHCM', N'09876', N'hoanghiep', N'124bd1296bec0d9d93c7')
INSERT [dbo].[NHOMSANPHAM] ([MANHOMSP], [MADONGSP], [TENNHOMSP], [GHICHUNSP]) VALUES (N'NSP00001', N'DSP00001', N'Dell', N'')
INSERT [dbo].[NHOMSANPHAM] ([MANHOMSP], [MADONGSP], [TENNHOMSP], [GHICHUNSP]) VALUES (N'NSP00002', N'DSP00001', N'Asus', N'')
INSERT [dbo].[NHOMSANPHAM] ([MANHOMSP], [MADONGSP], [TENNHOMSP], [GHICHUNSP]) VALUES (N'NSP00003', N'DSP00001', N'HP', N'')
INSERT [dbo].[SANPHAM] ([MASP], [MANHOMSP], [TENSP], [GIASP], [MOTASP], [XUATXU], [DONVITINH], [HINHANH], [SOLUONG]) VALUES (N'SP000002', N'NSP00001', N'Dell Inspiron 14 3452-Y7Y4K1 (Đen)', 7090000.0000, N'CPU : Intel Pentium N3700 1.6GHz - 2M (up to 2.4GHz)<br>
RAM : 1x 4GB DDR3L/1600 (Chỉ 1slot),<br>
HDD 500GB 5400rpm Sata3<br>
Graphics : Intel HD Graphics 14" HD<br>
Multimedia : HDMI, Webcam Wifi, Bluetooth, Reader<br>
Weight and Battery : 1.9Kg - 4Cell<br>
Ports : USB 3.0, 2x USB 2.0<br>
OS : Windows 10 Home SL 64bits<br>
', N'Trung Quốc', N'Cái', N'Inspiron_3452.jpg', 150)
INSERT [dbo].[SANPHAM] ([MASP], [MANHOMSP], [TENSP], [GIASP], [MOTASP], [XUATXU], [DONVITINH], [HINHANH], [SOLUONG]) VALUES (N'SP000003', N'NSP00001', N'Dell 3552 (F3552-70072013) (Đen)', 7290000.0000, N'Intel Pentium N3700 1.6GHz - 2M<br>
DDRAM 1x4GB/1600 (1slot)<br>
HDD 500GB 5400rpm<br>
Intel HD Graphics<br>
15.6" HD Led (1366x768) - HDMI - Webcam<br>
No DVD<br>
No Lan - Wifi - Bluetooth<br>
Reader - USB 3.0, 2xUSB 2.0 <br>
Weight 2.19kg - Battery 40Whrs<br>
OS Windows 10 Home SL 64bit <br>
', N'Trung Quốc', N'Cái', N'dell_3552.jpg', 200)
SET IDENTITY_INSERT [dbo].[THONGTINNGUOINHAN] ON 

INSERT [dbo].[THONGTINNGUOINHAN] ([ID], [HOTEN], [DIACHI], [DIENTHOAI], [PHUONGTHUCGIAOHANG], [HINHTHUCTHANHTOAN], [YEUCAUKHAC], [MADH]) VALUES (1, N'Lê Văn Phú', N'Tiền Giang', N'0981111111', N'Vận chuyển trực tiếp', N'Trả tiền trực tiếp', N'', N'DH000001')
INSERT [dbo].[THONGTINNGUOINHAN] ([ID], [HOTEN], [DIACHI], [DIENTHOAI], [PHUONGTHUCGIAOHANG], [HINHTHUCTHANHTOAN], [YEUCAUKHAC], [MADH]) VALUES (2, N'Lê Văn Phú', N'Tiền Giang', N'0981111111', N'Qua bưu điện', N'Chuyển khoản ngân hàng', N'', N'DH000002')
INSERT [dbo].[THONGTINNGUOINHAN] ([ID], [HOTEN], [DIACHI], [DIENTHOAI], [PHUONGTHUCGIAOHANG], [HINHTHUCTHANHTOAN], [YEUCAUKHAC], [MADH]) VALUES (3, N'abc', N'abc vvv', N'012345', N'Vận chuyển trực tiếp', N'Trả tiền trực tiếp', N'', N'DH000003')
SET IDENTITY_INSERT [dbo].[THONGTINNGUOINHAN] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DONDATHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [PK_DONDATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DONGSANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[DONGSANPHAM] ADD  CONSTRAINT [PK_DONGSANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MADONGSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHUYENMAI]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAIKHACHHANG]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[LOAIKHACHHANG] ADD  CONSTRAINT [PK_LOAIKHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHOMSANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[NHOMSANPHAM] ADD  CONSTRAINT [PK_NHOMSANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MANHOMSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SANPHAM]    Script Date: 27/12/2016 11:39:21 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONHA_CT_DONHAN_DONDATHA] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONDATHANG] ([MADH])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_CT_DONHA_CT_DONHAN_DONDATHA]
GO
ALTER TABLE [dbo].[CT_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONHA_CT_DONHAN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_DONHANG] CHECK CONSTRAINT [FK_CT_DONHA_CT_DONHAN_SANPHAM]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADO_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADO_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADO_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADO_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_DAT_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHA_DAT_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP2_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP2_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_THUOC_LOAIKHAC] FOREIGN KEY([MALOAIKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MALOAIKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_THUOC_LOAIKHAC]
GO
ALTER TABLE [dbo].[NHOMSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_NHOMSANP_GOM2_DONGSANP] FOREIGN KEY([MADONGSP])
REFERENCES [dbo].[DONGSANPHAM] ([MADONGSP])
GO
ALTER TABLE [dbo].[NHOMSANPHAM] CHECK CONSTRAINT [FK_NHOMSANP_GOM2_DONGSANP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_GOM_NHOMSANP] FOREIGN KEY([MANHOMSP])
REFERENCES [dbo].[NHOMSANPHAM] ([MANHOMSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_GOM_NHOMSANP]
GO
ALTER TABLE [dbo].[THONGTINNGUOINHAN]  WITH CHECK ADD  CONSTRAINT [FK_TTNN_DDH] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONDATHANG] ([MADH])
GO
ALTER TABLE [dbo].[THONGTINNGUOINHAN] CHECK CONSTRAINT [FK_TTNN_DDH]
GO
