<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Shopcongnghe</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Sanpham</servlet-name>
		<servlet-class>Controller.SANPHAM_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sanpham</servlet-name>
		<url-pattern>/Sanpham.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dongsanpham</servlet-name>
		<servlet-class>Controller.DONGSANPHAM_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dongsanpham</servlet-name>
		<url-pattern>/Dongsanpham.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Nhomsanpham</servlet-name>
		<servlet-class>Controller.NHOMSANPHAM_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nhomsanpham</servlet-name>
		<url-pattern>/Nhomsanpham.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Giohang</servlet-name>
		<servlet-class>Controller.GIOHANG_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Giohang</servlet-name>
		<url-pattern>/Giohang.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Thanhtoan</servlet-name>
		<servlet-class>Controller.THANHTOAN_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Thanhtoan</servlet-name>
		<url-pattern>/Thanhtoan.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Khuyenmai</servlet-name>
		<servlet-class>Controller.KHUYENMAI_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Khuyenmai</servlet-name>
		<url-pattern>/Khuyenmai.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dangnhap</servlet-name>
		<servlet-class>Controller.DANGNHAP_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dangnhap</servlet-name>
		<url-pattern>/Dangnhap.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DangnhapKH</servlet-name>
		<servlet-class>Controller.DANGNHAPKH_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DangnhapKH</servlet-name>
		<url-pattern>/Dangnhapkh.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dangxuat</servlet-name>
		<servlet-class>Controller.DANGXUAT_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dangxuat</servlet-name>
		<url-pattern>/Dangxuat.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dathang</servlet-name>
		<servlet-class>Controller.DONDATHANG_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dathang</servlet-name>
		<url-pattern>/Dathang.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Hoadon</servlet-name>
		<servlet-class>Controller.HOADON_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hoadon</servlet-name>
		<url-pattern>/Hoadon.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Inbaocao</servlet-name>
		<servlet-class>Controller.INBAOCAO_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inbaocao</servlet-name>
		<url-pattern>/Inbaocao.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Danhgia</servlet-name>
		<servlet-class>Controller.DANHGIA_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Danhgia</servlet-name>
		<url-pattern>/Danhgia.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Thongtincuahang</servlet-name>
		<servlet-class>Controller.THONGTINCUAHANG_CTR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Thongtincuahang</servlet-name>
		<url-pattern>/Thongtincuahang.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>Xacnhandangnhap</filter-name>
		<filter-class>Controller.XACNHAN</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Xacnhandangnhap</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<error-page>
      <error-code>404</error-code>
      <location>/error4.jsp</location>
	</error-page>
</web-app>